.container{
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    background-color: #15171f;
    width:30%;
    display: flex;
    color:white;
    justify-content: space-between;
    border-width: 1px;
    height:200px;
    align-items: center;
    padding:8px;
    border-color: #434652;
}