.post_container{
    background-color: #15171f;
    width:40%;
    display: flex;
    color:white;
    justify-content: space-between;
    border-bottom-width: 1px solid;
    height:50px;
    align-items: center;
    padding:8px;
    border-bottom: #434652 1px solid;
}

.text {
    color: rgb(209, 211, 220);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    /* Adjust the width for larger screens (e.g., tablets and desktops) */
    .post_container {
      width: 100%;
    }
}